.block-language-dataviewjs .stress {
    color: #dd8f7f;
    font-size: 2em;
    margin: 0 0.2em;
}

.block-language-dataviewjs .sub-stress {
    color: #d4dd7f;
    font-size: 1.75em;
    margin: 0 0.2em;
}

